@font-face {
    font-family: "Playfair Display";
    src: url("assets/PlayfairDisplay.ttf")
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
}

.user-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px grey;
}

.notifications {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.user-navigation-icon {
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 2rem;
    font-family: "Playfair Display";
    letter-spacing: 0.15rem;
    color: rgb(49, 49, 49);
}

.logo-icon {
    height: 35px;
    width: 35px; 
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 2rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.header-right-section {
    display: flex;
    gap: 10rem;
    align-items: center;
}

#addBookBtn  {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0.1rem 2rem;
    border-radius: 24px;
    border-color: rgb(31,174,35);
    color: rgb(31,174,35);
    font-size: 1rem;
    font-weight: 900;
}

span.btn {
    font-size: 2rem;
}

#addBookBtn:hover {
    color: white;
    background-color: rgb(31,174,35);
    cursor: pointer;
}

#main-content {
    display: flex;
    margin: 6rem;
    gap: 6rem;
    flex-wrap: wrap;
}

.bookCard {
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
}

.bookCover {
    margin: 0;
    width: inherit;
    height: 540px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bookInfo {
    padding:1rem;
}

.bookTitle {
    font-size: 1.2rem;
    font-weight: 900;
    height: 3rem;
}

.bookAuthor,
.bookPages {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    font-style: italic;
}

.readSvg > svg,
.notReadSvg > svg,
.removeSvg > svg {
    height: 25px;
    width: 25px;
}

.readSvg > svg {
    fill: rgb(31,174,35);
}

.notReadSvg > svg {
    fill: rgb(226, 118, 17);
}

.removeSvg > svg {
    fill: rgb(153, 5, 5);
}

.btnsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

button > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}

.readBtn,
.notReadBtn,
.removeBtn {
    margin-top: 1.7rem;
    font-size: 1rem;
    font-weight: 900;
    padding: 0.05rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.readBtn {
    color: rgb(31,174,35);
    border-color: rgb(31,174,35);
}

.readBtn,
.notReadBtn {
    grid-row: 1/2;
}

.notReadBtn {
    color: rgb(226, 118, 17);
    border-color: rgb(226, 118, 17);
}

.removeBtn {
    grid-column: 2/3;
    color: rgb(153, 5, 5);
    border-color: rgb(153, 5, 5);
}

.readBtn:hover {
    background-color: rgb(31,174,35);
    color: white;
}

.notReadBtn:hover {
    background-color: rgb(238, 147, 11);
    color: white;
}

.removeBtn:hover {
    background-color: rgb(153, 5, 5);
    color: white;
}

.readBtn:hover svg,
.notReadBtn:hover svg,
.removeBtn:hover svg {
    fill:white !important;
}

dialog {
    border-radius: 16px;
    border-color: white;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
    padding: 2rem 4rem;
}

legend {
    font-weight: 900;
}

ul {
    padding:0;
}

li {
    display: grid;
    list-style: none;
    margin-top: 2rem;
    gap: 0.3rem;
}

input,
select {
    appearance: none;
    outline: none;
    border: 1px solid #c5c7ca;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.4rem;
}

select {
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

input:focus {
    border: 1px solid rgb(31,174,35);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2); 
}

.required-field {
    color: red;
}

#fileLabel {
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.699);
    font-size: 0.88rem;
}

input:user-invalid {
    border: 1px solid rgb(218, 30, 30);
}

label {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.719);
}

#addCoverBtn {
    background-color:rgb(0, 0, 80);
    border-color: rgb(0, 0, 80);
    border-radius: 12px;
    color: white;
    padding: 0.4rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 900;
    cursor: pointer;
}

#addCoverBtn:hover {
    background-color:rgba(0, 0, 80, 0.836);
}

#btnContent {
    display: flex;
    justify-content: center;
}

.formBtns {
    margin-top: 1rem;
}

.uploadIcon {
    height: 22px;
    width: 22px;
}

#confirmBtn,
#cancelBtn {
    border-radius: 10px;
    color: white;
    padding: 0.4rem 1.5rem;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    margin: 1rem;
}

#confirmBtn {
    background-color: rgb(7, 131, 11);
    border-color: rgb(7, 131, 11);
    margin-right:0;
}

#confirmBtn:hover {
    color: rgb(7, 131, 11);
    background-color: white;
}

#cancelBtn {
    background-color: rgb(170, 0, 0);
    border-color: rgb(170, 0, 0);
    margin-left:0;
}

#cancelBtn:hover {
    color: rgb(170, 0, 0);
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
    gap: 0.8rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(0, 32, 10);
}

a {
    color: rgb(255, 255, 255);
}