@font-face {
    font-family: "Montserrat";
    src: url("assets/Montserrat-Regular.ttf")
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
}

.user-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px grey;
}

.notifications {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.user-navigation-icon {
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 2rem;
    font-family: Montserrat;
    color: rgb(32, 32, 32);
}

.logo-icon {
    height: 35px;
    width: 35px; 
}

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 2rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.header-right-section {
    display: flex;
    gap: 10rem;
    align-items: center;
}

.add-book-btn  {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0.1rem 2rem;
    border-radius: 24px;
    border-color: rgb(31,174,35);
    color: rgb(31,174,35);
    font-size: 1rem;
    font-weight: 900;
}

span.btn {
    font-size: 2rem;
}

.add-book-btn:hover {
    color: white;
    background-color: rgb(31,174,35);
    cursor: pointer;
}

#main-content {
    display: flex;
    margin: 6rem;
    gap: 6rem;
    flex-wrap: wrap;
}

.bookCard {
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
}

.bookCover {
    margin: 0;
    width: inherit;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.bookInfo {
    padding:1rem;
}

.bookTitle {
    font-size: 1.2rem;
    font-weight: 900;
}

.bookAuthor,
.bookPages {
    margin-top: 0.8rem;
    font-size: 1.1rem;
    font-style: italic;
}

.readSvg > svg {
    height: 28px;
    width: 28px;
    fill: rgb(31,174,35);
}

.notReadSvg > svg {
    height: 28px;
    width: 28px;
    fill: orangered;
}

button > span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.readBtn,
.notReadBtn {
    margin-top: 1.7rem;
    font-size: 1rem;
    font-weight: 900;
    padding: 0.05rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.readBtn {
    color: rgb(31,174,35);
    border-color: rgb(31,174,35);
}

.notReadBtn {
    color: orangered;
    border-color: orangered;
}

.readBtn:hover {
    background-color: rgb(31,174,35);
    color: white;
}

.notReadBtn:hover {
    background-color: orangered;
    color: white;
}

.readBtn:hover svg,
.notReadBtn:hover svg {
    fill:white !important;
}